version: "3.8"

services:
  database:
    image: postgres:17-alpine
    container_name: kashflo_db
    env_file:
      - docker_db.env
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app_network
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d kashflo"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: kashflo_backend
    ports:
      - "8000:8000"
    env_file:
      - docker_backend.env
    depends_on:
      database:
        condition: service_healthy
    networks:
      - app_network
    restart: unless-stopped
    volumes:
      - .:/app
    command: ["uv", "run", "uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8000", "--reload"]


volumes:
  db_data:
    driver: local

networks:
  app_network:
    driver: bridge